{% extends 'base.html' %}

{% block title %}
    create new post
{% endblock %}

{% block content_title %}
    New Post

{% endblock %}

{% block content %}


  <form action ="{{ url_for('posts.create_post') }}" method="POST">
   <div class="col-md-50"  >
              <div class="form-group" >
                  <label for = "title"> title</label>
              <input type="text" name="title" class="form-control form-control-lg" >
                          <label for = "body"> body</label>
              <textarea name="body" id="summernote"></textarea>

                    {% for field in form %}

      <div class="form-group" >

      {{ field.label(class='control-label') }}

      {{ field(class='form-control') }}
      </div>

  {% endfor %}
{#              <input type="text" name="tags" class="form-control form-control-lg">#}
              </div>
    <input type="submit" value="Create" class="btn btn-success" />
   </div>



{#  <button type="submit" class="btn btn-success">Create</button>#}

  </form>

{% endblock %}

















