{% extends 'base.html' %}
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
<script>
    $(document).ready(function() {

        $('#summernote').summernote({
                     height: 400, placeholder: 'write here...'

        });
    });

</script>
{% block title %}
    create new post
{% endblock %}

{% block content_title %}
    New Post

{% endblock %}

{% block content %}


  <form action ="{{ url_for('posts.create_post') }}" method="POST">
   <div class="col-md-50"  >
              <div class="form-group" >
                  <label for = "title"> title</label>
              <input type="text" name="title" class="form-control form-control-lg" >
                          <label for = "body"> body</label>
              <textarea name="body" id="summernote"></textarea>

                    {% for field in form %}

      <div class="form-group" >

      {{ field.label(class='control-label') }}

      {{ field(class='form-control') }}
      </div>

  {% endfor %}
{#              <input type="text" name="tags" class="form-control form-control-lg">#}
              </div>
    <input type="submit" value="Create" class="btn btn-success" />
   </div>



{#  <button type="submit" class="btn btn-success">Create</button>#}

  </form>

{% endblock %}

















