

{% extends 'base.html' %}


 <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
{#<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>#}
{#<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>#}
<script>
    $(document).ready(function() {

        $('#summernote').summernote({
                     height: 400, placeholder: 'write here...'

        });
    });

</script>

{% block title %}
    edit post
{% endblock %}

{% block content_title %}
    edit Post

{% endblock %}

{% block content %}


      <form action ="{{ url_for('posts.edit_post', slug=post.slug) }}" method="POST">

{#      {% for field in form %}#}
          <div class="form-group">
            <input class='form-control' id="title" name="title" type="text" value="{{ post.title }}"><br>
            <textarea id="summernote" id="body" name="body">{{ post.body }}</textarea><br>
            <input class='form-control' id="tags" name="tags" type="text" value="{{ tags }}"><br>
{#          {{ field.label(class='control-label') }}#}
{#          {{ field(class='form-control') }}#}
          </div>
{#      {% endfor %}#}

      <button type="submit" class="btn btn-warning">Update</button>

      </form>

{% endblock %}