{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content_title %}
    {{ post.title | safe }}


{% endblock %}

{% block content %}

    <div class="tags">

        {% for tag  in tags if tags != "Null"%}
            <a href="{{ url_for('posts.tag_detail', slug=tag.slug)}}">
            <span class="badge badge-pill badge-danger" style="text-decoration: none"> {{ tag.name }}</span></a>
        {% endfor %}

    </div>


    <div class="main-content ">
    <p content="width=device-width, initial-scale=1 max-width: 400px">
        {{ post.body  | safe  }}
    </p>
    <div class="bor">
        <div>
{{ comments.role_for_comment }}
        <p class="sizeT"> Comments: </p>

                {% for comment in comments %}
                    <p>
                        User: {{ comment[1].email }} <br>
                        Role: {{ comment[2]}} <br>
                        Comment: {{ comment[0].body }}
{{ role_for_comment }}

                    </p>
                {% endfor %}
        </div>
    </div>
    </div>
    <div class="main-content">
    {% if current_user.is_authenticated %}
        <form method="LINK" action="{{ url_for('posts.create_comment', slug=post.slug) }}">
            <input type="submit" value="Create comment" class="btn btn-warning">
        </form>
    {% endif %}
     {% if current_user.has_role('moder') or current_user.has_role('admin') %}
<form method="LINK" action="{{ url_for('posts.edit_post', slug=post.slug) }}">
    <input type="submit" value="Edit" class="btn btn-danger">
</form>
        {% endif %}
    </div>
{% endblock %}

{% block comment %}

    <div class="col-md-6"  >

      <form action ="{{ url_for('posts.create_comment', slug=slug) }}" method="POST">
        <input type="text" placeholder="Leave comment" name="body">

        <button type="submit" class="btn btn-success">Create</button>
      </form>
    </div>
{% endblock %}